.App {
  min-height: 100vh;
  background-color: beige;
}
.search-form {
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.search-field {
  width: 50%;
  border:none;
  padding:10px;
}
.search-button {
  background-color: lightblue;
  border:none;
  padding: 10px 20px;
  color: white;
}
.recipes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipe_recipe__BdaUe {
  width: 300px;
  height:300px;
}