.App {
  min-height: 100vh;
  background-color: beige;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-field {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background-color: lightblue;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* border: 1px solid green; */
}
.recipe_recipe__BdaUe {
  /* border: 1px solid red; */
  width: 80%;
  align-items: center;
}
@media (max-width: 600px) {
  .recipe_recipe__BdaUe {
    border: 1px solid red;
    padding: 10px;
    width: 90%;
    height: 90%;
  }
}
